#background{
    background: #ffffff 0% 0% no-repeat padding-box;
    height:fit-content;
}

#inner-back{
    margin:20px 20px 20px 20px;
    position:relative;
    height: 800px;
}

#inner-back::before{
    content:"";
    position:absolute;
    background-image: url(../img/closet-bg-black.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    opacity: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#top-block-wrap{
    position:relative;
    margin-top:40px;
    display:inline-flex;
    margin-left:95px;
    height:150px;
}

#top-block{
    top: 70px;
    margin-left: 160px;
    margin-bottom: 50px;;
    width: 400px;
    height: 140px;
    opacity: 1;
    color:#fff;
    vertical-align: middle;
    display:inline-block;
}

#top-title{
    margin-top:30px;
    color:#fff;
    font-weight: 550;
    font-size: 35px;
}

#top-round-block{
    display:inline-flex;
    margin-left:440px;
    margin-top:60px;
}


.page-button{
    height:fit-content;
    margin-left:20px;
}

.page-img{
    width:46px;
    height:46px;
    position:relative;
    object-fit: cover;  
}

#before-img{
    transform:rotate(0deg);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.block-wrap{
    position:relative;
    width:fit-content;
    margin:0 auto;
}


.block{
    width:250px;
    height:250px;
    background: #fff 0% 0% no-repeat padding-box;
    border-radius: 34px;
    float:left;
    margin:0 7px 7px 0;
    text-align: center;
}

.block:hover{
    cursor: pointer;
}

.block:active{
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position:relative;
    top:2px;
}

.block:visited{
    border:8px solid rgb(0,255,255);
}

.profile-title{
    margin-top:20px;
    display: inline-block;
    font-weight:bold;
    font-family:'Noto Sans KR',sans-serif;
}

.profile-sub{
    margin-top:15px;
    display:inline-block;
    font-size: 13px;
    height:65px;
    width:200px;
    font-family:'Noto Sans KR',sans-serif;
}

.profile{
    position:absolute;
    margin:0px 0 0 84px;
}

.profile-picture{
    width:80px;
    height:80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 50px;
    object-fit: cover;
}

.profile-name{
    margin:3px auto;
    text-align: center;
    font-family:'Noto Sans KR',sans-serif;
}

#bottom-round-block{
    position:relative;
    display:inline-flex;
    margin-left:470px;
    margin-top:30px;
}

.bottom-round{
    width:21px;
    height:21px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 50px;
    margin-left:10px;

}
